<!DOCTYPE html>
<html>
    <head>
        <title>Kikki the Smart Chicken</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Kikki the Smart Chicken</a></h1>

        </header>
        <main>
            <article>
                <time>published: 15.08.2023</time>
                <h2><a href=" ">Kikki's 1st Blog Post</a></h2>
                <p>Hi there! I'm Kikki!</p>
            </article>

            <article>
                <time>published: 15.08.2023</time>
                <h2><a href=" ">Kikki's 2nd Blog Post</a></h2>
                <p>Hi again!</p>
            </article>
        </main>        
        
    </body>
</html>